* {
    font-family: "Arial";
    font-size: 20px;
}

p + p + p {
    color: yellow;
}

h1 {
    font-size: 3.0rem;
    font-family: "Bookman Old Style"
}


#header2 {
        text-transform: uppercase;
}

.languages-to-be-learned {
    background-color: darkseagreen;
}

li[novalidate] {
    border-color: lightblue;
    border-width: 1px;    
    border-style: solid;
}

img + ul {
    list-style-type: none;
}

section img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

ul ~ p {
    text-align: center;
    color: black;
}

body > section > ul > li{
    letter-spacing: 10px;
}
